# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.yarn
.pnp.*

# Build
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Vue
auto-imports.d.ts
components.d.ts

# OS
.DS_Store
Thumbs.db
